<!DOCTYPE html>

<html>
  {% include head.html %}

  <body>
    {% include header.html %}

<div class="page-content">
  <div class="wrapper">

    {% assign content_parts = content | split: '<!-- INSERT_ITEMS -->' %}

    {{ content_parts[0] }}

    <div class="work">
      {% for item in page.items %}
      <div class="work-item">
        <img
          src="{{ item.image.src | absolute_url }}"
          alt="{{ item.image.alt }}"
          class="work-bubble"
        />
        <span class="work-text">
          <strong>{{ item.title }}</strong>
          &mdash;
          {{ item.description }}

          {% if item.collaborators %}
      <span class="work-meta">
        {{ item.collaborators }}
      </span>
    {% endif %}

    {% if item.methods %}
      <span class="work-meta">
        {% for method in item.methods %}
          <span class="method-tag">{{ method }}</span>
        {% endfor %}
      </span>
    {% endif %}
          
        </span>
      </div>
      {% endfor %}
    </div>

    {{ content_parts[1] }}

  </div>
</div>

  </body>
</html>
